<!-- <div id="card" style="width: 18rem;">
	<div class: "card-img-top">
		< image_tag "cajon.jpg" %>
	</div>

	<div id="content">

		<h1>Bienvenido/a al Blog Pablito Comunica-Cajon del Maipo</h1>

		<p>en esta página podrás encontrar buenas referencias para tus viajes en conjunto a mas personas</p>
		<p>Si gstas puedes conversar personalmente conmigo en mi Twitter oficial @twitter para Ayuda referencial <a href="http://twitter.com/"></a>
	</div>
</div> -->

<div class="jumbotron">
  <h1 class="display-4">Blog Cajón del Maipo</h1>
	<img src="https://sites.google.com/site/mochilerosgts/_/rsrc/1471978051146/home/viajar_de_mochilero-slide-1200x490.jpg" class="card-img-top" alt="...">
  <p class="lead">Toda la informacion que necesitas para poder viajar, rutas y alternativas de movilización</p>
  <hr class="my-4">
  <p>Este blog nace con la finalidad de ayudar a encontrar lugares en el cajón del maipo</p>
</div>
