<div id="page_wrapper">
	<div class: "image-thumbnail">
		<%= image_tag "cajon.jpg" %>
	</div>

	<div id="content">
<<<<<<< HEAD
		<h1>Bienvenido/a al Blog Pablito Comunica-Cajon del Maipo</h1>
=======
		<h1>Bienvenido/a al Blog Pablito Comunica</h1>
>>>>>>> test_cancan
		<p>en esta página podrás encontrar buenas referencias para tus viajes en conjunto a mas personas</p>
		<p>Si gstas puedes conversar personalmente conmigo en mi Twitter oficial @twitter para Ayuda referencial <a href="http://twitter.com/"></a>
	</div>
</div>
